@page "/altapersona"
@using Entities


<h3>AltaPersona</h3>

<form  @onsubmit="Enviar">
    <input placeholder="Nombre" @bind="nombre" />
    <input placeholder="Apellido" @bind="apellido"/>
    <input placeholder="Email" @bind="email"/>
    <input placeholder="Dirección" @bind="direccion"/>
    <input placeholder="Telefono" @bind="telefono"/>
    <input placeholder="Legajo"  @bind="legajo"/>
    <input type="date" @bind="fecha"/>

    <select @bind="tipop">
        <option selected hidden>Seleccione un tipo de persona</option>
        <option value="Alumno">Alumno</option>
        <option value="Profesor">Profesor</option>
    </select>

    <select @bind="idplan">
        <option selected hidden>Seleccione un plan</option>
        @foreach (var p in planes)
        {
            <option value="@p.Id">@p.Descripcion</option>
        }
    </select>
    <button type="submit">Agregar</button>
</form>

@code {
    @inject NavigationManager NavigationManager
    
    private List<Plan> planes = new List<Plan>();

    private string nombre;
    private string apellido;
    private string email;
    private string direccion;
    private string telefono;
    private string legajo;
    private string tipop;
    private int idplan;
    private DateTime fecha;

    private readonly HttpClient http = new()
        {
            BaseAddress = new Uri("http://localhost:5297")
        };

    protected override async Task OnInitializedAsync()
    {
        planes = await http.GetFromJsonAsync<List<Plan>>("planes");
    }

    private async void Enviar()
    {
        var p = new Persona()
            {
                
                Nombre = nombre,
                TipoPersona = tipop,
                Apellido = apellido,
                Email = email,
                Direccion = direccion,
                Telefono = telefono,
                Legajo = legajo,
                FechaNacimiento = fecha,
                Plan = new Plan()
                {
                    Id = idplan
                }
                
            };

        var response = await http.PostAsJsonAsync("personas", p);
        NavigationManager.NavigateTo("/listadopersona");
 
    }
}
