@page "/"

<h3>Menú</h3>

<br/><br />
<a class="mx-3" href="listadoespecialidad">Listado de Especialidades</a>


<br><br />
<a class="mx-3" href="listadoplan">Listado de Planes</a>



<br/><br />
<a class="mx-3" href="listadopersona">Listado de personas</a>


